<h2> Login</h2>

<form action="/api/sessions/login" method="POST">
    <label for="email">Email:</label>
    <input type="email" name="Email" required>

    <br>

    <label for="email">Email:</label>
    <input type="email" name="Email" required>

</form>